# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#swap files
*.swo
*.swp

# pyenv
.python-version

# Migrations
**/migrations/*
!**/migrations/__init__.py

# Configuration file
base.yml

# Media files
media/
media_files/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Static files
static/
static_files/

# VS Code
.vscode

# IntelliJ configuration
.idea/

